/* Start Global Styles */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  transition: all 0.5s;
}

body {
  background-color: #232323;
  margin: 0;
  /* font-family: "Inter", sans-serif; */
  /* font-family: "Outfit", sans-serif; */
  font-family: "Public Sans", sans-serif;
  /* font-family: "Red Hat Display", sans-serif; */
}

/* End Global Styles */

/* Start Game-Container */

.square {
  width: 30%;
  margin: 1.66667%;
  /*need to understand as it's the reason of the visibility of empty divs*/
  padding-bottom: 30%;
  /**/
  float: left;
  border-radius: 15%;
  transition: all 0.6s;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  cursor: pointer;
}

#container {
  max-width: 600px;
  margin: 20px auto;
}

.header-game {
  color: white;
  text-align: center;
  background: steelblue;
  margin: 0;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 1.1;
  padding: 20px 0;
}

#stripe {
  background: white;
  height: 30px;
  text-align: center;
}

.selected {
  color: white;
  background: steelblue;
}
#colorDisplay {
  font-size: 200%;
}

.btn {
  border: none;
  background: none;
  text-transform: uppercase;
  height: 100%;
  font-weight: 700;
  color: steelblue;
  letter-spacing: 1px;
  font-size: inherit;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  outline: none;
  cursor: pointer;
}

#message {
  display: inline-block;
  width: 20%;
}

.btn:hover {
  color: white;
  background: steelblue;
}

#popup-div {
  /* opacity: 80%; */
  position: absolute;
  background: rgba(17, 14, 14, 0.8);
  /* max-width: 80rem; */
  width: 100%;
  height: 100%;
  /* min-width: 5rem; */
  /* min-height: 30vh; */
  /* top: 30%;
  left: 20%; */
  /* height: 20vh; */
  margin: auto;
  z-index: 5;
  color: rgb(247, 240, 240);
}

#popup-center {
  margin-top: 20rem;
}

#popup-txt {
  text-align: center;
}

#popup-txt p {
  width: 40%;
  margin: auto;
  font-size: 20px;
}

#start-btn-div {
  display: flex;
  width: 30%;
  margin: 5rem auto 0rem;
  align-items: center;
  justify-content: center;
}

#start-btn {
  padding: 1rem;
  margin-bottom: 2rem;
  min-width: 10rem;
  border-radius: 10px;
  border: 3px solid transparent;
  font-size: 18px;
}

#start-btn:hover {
  color: white;
  background-color: rgb(53, 21, 196);
  border: 3px solid white;
}

/* End Game-Container */
